<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to the Chat
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="to_dashboard()">Dashboard</ion-button>
      <ion-button (click)="logout()" color="danger">LogOut</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let item of items$ | async">
    <ion-item>
      <p> <strong [ngStyle]="{'color': getSenderColor(item.val().sender_id)}">{{item.val().sender_name}}:</strong> {{item.val().message}} </p>
      <ng-container *ngIf="is_user(item.val().sender_id)">
        <ion-button slot = "end" color = "danger" (click) = "delete_message(item.key)">Delete</ion-button>
      </ng-container>
      <ng-container *ngIf="!is_user(item.val().sender_id)">
        <ion-button slot = "end" (click) = "ai_message(item.val().message)">Ask AI</ion-button>
      </ng-container>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-item>
      <ion-textarea [(ngModel)]="new_message" placeholder="Type Your Message" rows="1"></ion-textarea>
      <ion-button slot = "end" (click)="sendMessage()">Send</ion-button>
    </ion-item>
  </ion-footer>
  
</ion-content>
