<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="assets/icon/chatterboxz.png" style="width: 32px; height: 32px; margin-left: 10px;"></ion-img>
    </ion-buttons>
    <ion-title>Chat Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "go_to_dashboard()" >Dashboard</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click) = "exit_chat()" color="danger" expand="block" style="margin: 10px;">Exit Chat</ion-button>

  <div class="container" style="margin: 10px;">
    <ion-item>
      <ion-input id = "chatName" type="text" placeholder="New Chat Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id = "aiPrompt" type="text" placeholder="New AI Prompt"></ion-input>
    </ion-item>
    <ion-button expand="block" color="success" (click) = "chat_update_details()" >Update Details</ion-button>
  </div>

  <ion-button expand="block" color="primary" (click) = "add_new_members()" style="margin: 10px;">Add New Members</ion-button>
  <ion-card>
    <ion-card-content>
      <h1 >Add People to the Chat</h1>
    </ion-card-content>
    <ion-list *ngFor="let user of user$ | async">
      <ion-item *ngIf="user.key != user_id">
        <ion-label>
          <h2 style="font-size: 1.2em; font-weight: bold;">{{ user.val().name }}</h2>
          <p style="font-size: 0.9em; color: gray;">{{ user.val().email }}</p>
        </ion-label>
        <ion-button slot="end" (click) = "addToChat(user.key)" [color]="member_added(user.key)">{{add_remove}}</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
    
</ion-content>
