<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="assets/icon/chatterboxz.png" style="width: 32px; height: 32px; margin-left: 10px;"></ion-img>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot = "end">
      <ion-button (click) = "logout()" color = "danger">LogOut</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click) = "create_chat()" style="margin: 10px;">Create a New Chat</ion-button>
  <div class="container" style="margin: 10px;">
    <h3>Your Chats 💬</h3>
    <ion-list *ngFor="let chat of chat_data">
      <ion-item>
        <p>{{chat.chat_name}}</p>
        <ion-button slot = "end" (click) = "to_chat(chat.chat_id)">Chat</ion-button>
        <ion-button slot = "end" (click) = "to_settings(chat.chat_id)" color="success">Settings</ion-button>
      </ion-item>
    </ion-list>  
  </div>
</ion-content>
